.inline-block {
    display: inline-block;
    vertical-align: top;
}
.logo {
    padding: 1%;
    text-align: center;
}

.navigation {
    padding: 1%;
    background-color: #373738;
    min-width: 1200px;
    margin-left: auto;
}

ul {
    width: 50%;
    margin-left: auto;
    min-width: 1040px; 
}

footer {
    background-color: #373738;
}
li {
    padding: 1%;
    display: inline-block;
    vertical-align: top;
    color: white;
}
header {
  align-content: flex-start;
  display: inline-flex;
}
.workGrid {
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
}

.section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media only screen and (max-width: 600px){
    .workGrid {
       flex-direction: column;
       width: 100%;
    }}